@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

#dashboard img {
  max-width: 100%;
  max-height: 100%;
  float: center;
  transition-duration: 0.3s;
}

#dashboard img:hover {
  box-shadow: 5px 5px 10px 10px rgb(181, 181, 181);
  transition-duration: 0.3s;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #dfaa5b;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.hover-shadow{
  transition-duration: 0.3s;
}

.hover-shadow:hover{
  box-shadow: 0 0 10px 5px rgb(181, 181, 181);
  transition-duration: 0.3s;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}
/* home part */
.App {
  position: relative;
  height: 100vh; 
}

.home_title {
  text-align: center;
  font-size: 70px;
  color: lightgrey;
  font-family: "Mantinia", serif;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: calc(0% - 400px);
}

.button1,
.button2,
.button3 {
  font-family: "Mantinia", serif;
  padding: 16px;
  border-radius: 16px;
  width: 300px;
  height: 100px;
  opacity: 0.5;
  margin: 0 20px; 
}

.button1:active,
.button2:active,
.button3:active {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
  z-index: 1;
}

.button1,
.button2,
.button3 {
  z-index: 10;
}
/* 
home page css files finish */


/* play page css */
.game-mat-wrapper {
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.game-mat-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: var(--background-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.5;
  z-index: -1;
}

.game-mat {
  display: flex;
  flex-direction: column;
  align-items: center;
 margin-top: 15%;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.card-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 120px;
  border: 1px solid rgba(85, 85, 85, 0.7);
  background-color: rgba(51, 51, 51, 0.7);
  margin: 0 5px;
}

.player {
  display: flex;
}

.deck-graveyard {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}


.resource-counter {
   display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 24px;
  color: white;
  margin-bottom: 5px;

  background-color: rgba(85, 85, 85, 0.7);
  border: 1px solid #333;
  border-radius: 50%;
  padding: 10px;
  width: 60px;
  height: 60px;
}

/* end play page css */


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}



/* start dashbord css */
.dash_title {
  text-align: center;
  font-size: 40px;
  color: rgb(214, 223, 190);
  font-family: "Mantinia", serif;
}

.card {
  width: 300px;
}
.star{
  cursor:pointer
}
.star:hover svg{
  color: #fd7e14
}
.addBtn{
  background-color: black;
  opacity:0;
  transition-duration: 0.3s;
}
.addBtn:hover{
  opacity:0.6;
  transition-duration: 0.7s;
  
}
.addBtn button{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: white;
  transition-duration: 0.7s;
}
.addBtn svg{
  color: black;
  cursor: pointer;
}
.addBtn:hover button{
  transition-duration: 0.7s;
  transform: translateY(-10px);
}



/* end dashbord css */